body {
    background-color: rgb(3, 3, 71);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding: 20px;
}

.img {
    flex: 1; 
    max-width: 400px; 
    margin-right: 160px; 
}

.img img {
    width: 100%; 
    height: auto; 
}

.formulario {
    flex: 1; 
    max-width: 400px; 
    background-color: #f9f9f9d2;
    border: 1px solid rgba(204, 204, 204, 0);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 20px; 
    border-radius: 30px;
}

input {
    padding: 10px; 
    border-radius: 7px;
    border: none;
    margin-bottom: 15px; 
    width: 95%; 
}

input[type="submit"] {
    color: white;
    width: 100%; 
    cursor: pointer;
    background-color: rgb(3, 3, 71);
}

input[type="submit"]:hover {
    background-color: #2d1fa7; 
}

h2 {
    color: black;
    text-align: center; 
}
.botao{
    background-color: #007bff;
    padding: 10px;
    border-radius: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 
}